{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>halooo</title>
    {% block link %}
    <script src="{% url 'js-catlog' %}"></script>
    <script src="{% static '/admin/js/core.js' %}"></script>
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
    <style>
        .std-display{
            display: none;
        }
        .tcr-display{
            display: none;
        }

        .dropdown-menu{
            background-color: rgba(255, 255, 255, 0);     
            background-clip: padding-box;
            border: 1px solid rgba(255, 255, 255, 0.15);
        }
    </style>
    {% endblock link %}
</head>
<body>
    {% block content %}
        <p>{{tcr_true}}</p>
        <h2>Selamat Datang Di Mapel {{course}}</h2>
        <br><br>
        <p>List Absensi :</p>
        {% if tcr_true %}
            <ul>
                {% for attendancereq in attendance_req_list %}
                    <li>
                        <a href="{% url 'detail_attend' course.id attendancereq.id %}">{{attendancereq}}</a>
                        <form action="{% url 'remove-attendance' attendancereq.id %}" method="post">{% csrf_token %}<input type="submit" value="Delete"></form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <ul>
                {% for attendancereq in attendance_req_list %}
                    <li>
                        {% if attendancereq.is_closed %}
                            <p>{{attendancereq}}</p>
                        {% else %}
                            <a href="{% url 'main:detail_attend' course.id attendancereq.id %}">{{attendancereq}}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>List Materi:</p>
        <div class="section-course">
        {% for key, values in section_course.items %} <!-- inside section_course is a dictionary -->
            <div class="key-head d-flex justify-content-between px-2" >
                <div class="title-key d-flex flex-row" id="title-head">
                    <h2><a id="{{key}}" href="{% url 'subcourse:section_edit' key.pk %}">{{key}}</a></h2>
                    <!-- Button modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{key.pk}}">
                        Edit Title
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="modal{{key.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title bold text-dark" >Edit title</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            <form onsubmit="postPrevDefault('{{key.pk}}',event)" class="title-form" id="title-form-{{key.pk}}">
                                {% csrf_token %}
                                <input type="hidden" name="pk" value="{{key.pk}}">
                                <label for="title" class="text-dark">Title : </label>
                                {{form2.title}}
                                <a onclick="postPrevDefault('{{key.pk}}',event)" class="btn btn-success">Submit</a>
                            </form>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group dropstart">
                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Create Activity
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Assignment</a>
                        <a class="dropdown-item" href="#">Material</a>
                        <a class="dropdown-item" href="#">Sub Course</a>
                        <a class="dropdown-item" href="#">Announcements</a>  
                    </div>
                </div>
            </div>
            <ul>
                {% for value in values %}
                    <li><a href="{% url 'subcourse:sub_course' course.id value.get_slug%}">{{value}}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
        </div>
        <br><br><br>
        <div class="tcr-display" style="min-height: 100px;margin-bottom: 100px;">
            <button id="btn1" class="btn btn-primary">Add New Section</button>
            <div id="myDIV1" class="add-section" style="margin: 10px 0; display: none;">
                <form method="post">
                    {% csrf_token %}
                    {{form2}}
                    <button type="submit">Add</button>         
                </form>
            </div>
            <br><br>
            <button id="btn2" class="btn btn-primary">Add New Attendance Req</button>
            <div id="myDIV2" style="display: none;">
                <form method="post">
                    {% csrf_token %}
                    {{form1.media}}
                    {{form1.start_time.label}}
                    {{form1.start_time}}
                    <br>
                    {{form1.closed_time.label}}
                    {{form1.closed_time}}
                    <br>
                    {{form1.is_closed.label}}
                    {{form1.is_closed}}
                    <br>
                    <button type="submit">Add</button>         
                </form>
            </div>
        </div>
    {% endblock content %}
</body>
{% block script %}
    <script type="text/javascript">

        var user_type = "{{user.user_type}}"
        if(user_type === "Std"){
            var x = document.querySelectorAll('.std-display')
            x.forEach(p => p.style.display = "block")
        }
        else{
            var x = document.querySelectorAll('.tcr-display')
            x.forEach(p => p.style.display = "block")
        }
        
        $(document).ready(function(){
            $("#btn1").click(function(){
                $("#myDIV1").toggle(100);
            });
            $("#btn2").click(function(){
                $("#myDIV2").toggle(100);
            });
            // $(".title-form").submit(function(e){
            //     e.preventDefault();
            //     const var_id =  "#" + $(this).attr('id')
            //     console.log(var_id)
            //     var serializedata = $(var_id).serialize()
            //     $.ajax({
            //         type: 'POST',
            //         url: "{% url 'courses_page' course.pk %}",
            //         data: serializedata,
            //         success: function (response){
            //             // close the form
            //             $(".btn-close").trigger('click');
                        
            //             $(".section-course").load(" .section-course");

            //             $('.title-form').trigger('reset');
            //             console.log('halooo')
            //         },
            //         error: function (response) {
            //             console.log('Jncuk')
            //         }
            //     })
            // });
        });

        // every tim form is submitted or button get clicked call this function
        function postPrevDefault(id,e){
            e.preventDefault();
            var id_form = '#title-form-'+id
            console.log(id_form)
            var serializedata = $(id_form).serialize()
            $.ajax({
                type: 'POST',
                url: "{% url 'courses_page' course.pk %}",
                data: serializedata,
                success: function (response){
                    // close the form
                    $(".btn-close").trigger('click');
                    
                    $(".section-course").load(" .section-course");

                    $('.title-form').trigger('reset');
                    console.log('halooo')
                },
                error: function (response) {
                    console.log('Jncuk')
                }
            })
        }

    </script>
{% endblock script %}
</html>