{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        Haloo
    {% endblock title %}
    {% block link %}
    {% endblock link %}
</head>
<body>
    {% block content %}
        <p>{{tcr_true}}</p>
        <h2>Selamat Datang Di Mapel {{course}}</h2>
        <br><br>
        <p>List Absensi :</p>
        {% if tcr_true %}
            <ul>
                {% for attendancereq in attendance_req_list %}
                    <li>
                        <a href="{% url 'detail_attend' course.id attendancereq.id %}">{{attendancereq}}</a>
                        <form action="{% url 'remove-attendance' attendancereq.id %}" method="post">{% csrf_token %}<input type="submit" value="Delete"></form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <ul>
                {% for attendancereq in attendance_req_list %}
                    <li>
                        {% if attendancereq.is_closed %}
                            <p>{{attendancereq}}</p>
                        {% else %}
                            <a href="{% url 'main:detail_attend' course.id attendancereq.id %}">{{attendancereq}}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>List Materi:</p>
        <div class="section-course">
        {% for key, values in section_course.items %} <!-- inside section_course is a dictionary -->
            <div class="title-course d-flex justify-content-between px-2" >
                <div class="title-key d-flex flex-row" id="title-head">
                    <h2><a id="{{key}}" href="{% url 'subcourse:section_edit' key.pk %}">{{key}}</a></h2>
                    <!-- Button modal -->
                    <button type="button" class="btn btn-primary tcr-display" data-bs-toggle="modal" data-bs-target="#modal{{key.pk}}">
                        Edit Title
                    </button>
                    
                    <!-- Modal Title -->
                    <div class="modal fade" id="modal{{key.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title bold" >Edit title</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            <form onsubmit="postPrevDefault('#title-form-{{key.pk}}',event)" class="title-form" id="title-form-{{key.pk}}">
                                {% csrf_token %}
                                <input type="hidden" name="pk" value="{{key.pk}}">
                                <input type="hidden" name="form-type" value="2">
                                <label for="title" class="text-dark">Title : </label>
                                {{form2.title}}
                                <a onclick="postPrevDefault('#title-form-{{key.pk}}',event)" class="btn btn-primary">Submit</a>
                            </form>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group dropstart tcr-display">
                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Create Activity
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item assignment" onclick="testFunction('{{key.pk}}','asgt',event)" data-bs-toggle="modal" data-bs-target="#activityModal">Assignment</a>
                        <a class="dropdown-item material" onclick="testFunction('{{key.pk}}','mtrl',event)" data-bs-toggle="modal" data-bs-target="#activityModal">Material</a>
                        <a class="dropdown-item sub-course" onclick="testFunction('{{key.pk}}','sbcs',event)" data-bs-toggle="modal" data-bs-target="#activityModal">Sub Course</a>
                        <a class="dropdown-item announcements" onclick="testFunction('{{key.pk}}','anct',event)" data-bs-toggle="modal" data-bs-target="#activityModal">Announcements</a>  
                    </div>
                </div>
            </div>
            <ul>
                {% for value in values %}
                    {% if value.name %}
                        <li><a href="{% url 'subcourse:sub_course' course.id value.get_slug%}">{{value}}</a></li>   
                    {% else %}
                        <li><a href="{% url 'subcourse:assignment' course.id value.get_slug%}">{{value}}</a></li>   
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
        </div>
        <!-- Modal Activity -->
        <div class="modal fade" id="activityModal" tabindex="-1" aria-labelledby="activityModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="activityModalLabel">Add New Activity</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark" id="body-form">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
        <br><br><br>
        <div class="tcr-display" style="min-height: 100px;margin-bottom: 100px;">
            <button id="btn1" class="btn btn-primary">Add New Section</button>
            <div id="myDIV1" class="add-section" style="margin: 10px 0; display: none;">
                <form method="post">
                    {% csrf_token %}
                    {{form2}}
                    <button type="submit">Add</button>         
                </form>
            </div>
            <br><br>
            <button id="btn2" class="btn btn-primary">Add New Attendance Req</button>
            <div id="myDIV2" style="display: none;">
                <form method="post">
                    {% csrf_token %}
                    {{form1.start_time.label}}
                    {{form1.start_time}}
                    <br>
                    {{form1.closed_time.label}}
                    {{form1.closed_time}}
                    <br>
                    {{form1.is_closed.label}}
                    {{form1.is_closed}}
                    <br>
                    <button type="submit">Add</button>         
                </form>
            </div>
        </div>
        {% endblock content %}
    </body>
{% block script %}
    <script type="text/javascript">
        var user_type = "{{user.user_type}}"
        if(user_type === "Std"){
            var x = document.querySelectorAll('.tcr-display')
            x.forEach(p => p.style.display = "none")
        }
        
        $(document).ready(function(){
            $("#btn1").click(function(){
                $("#myDIV1").toggle(100);
            });
            $("#btn2").click(function(){
                $("#myDIV2").toggle(100);
            });
        });

        var flat_conf = {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
        }

        $(".date-time").flatpickr(flat_conf)

        // every time form is submitted or button get clicked call this function
        function postPrevDefault(id,e){
            e.preventDefault();
            console.log('broo knp dah')
            var serializedata = $(id).serialize()
            $.ajax({
                type: 'POST',
                url: "{% url 'courses_page' course.pk %}",
                data: serializedata,
                success: function (response){
                    // close the form
                    $(".btn-close").trigger('click');
                    
                    $(".section-course").load(" .section-course");

                    $('.title-form').trigger('reset');
                },
                error: function (response) {
                    console.log('Jncuk')
                }
            })
        }

        function testFunction(pk,type,e){
            var form3 = (`
                <form id='form-sbcs-${pk}'>
                    {% csrf_token %}
                    <input type="hidden" name="form-type" value="3">
                    <input type="hidden" name="course_id" value="{{course.id}}">
                    <input type="hidden" name="sub_id" value="${pk}">
                    {{form3.name.label}}
                    {{form3.name}}<br>
                    {{form3.content1.label}}
                    {{form3.content1}}<br>
                    {{form3.content2.label}}
                    {{form3.content2}}<br>
                    <a onclick="postPrevDefault('#form-sbcs-${pk}',event)" class="btn btn-primary">Submit</a>
                </form>
                `)
            // ${pk} sama seperti 'The lazy {} {} over the {}'.format(var3, var2, var1)
            // BTW 'pk' ini adalah 'pk' nya subsection yaa
            var form4 = (
                `<form id='form-asgt-${pk}'>
                    {% csrf_token %}            
                    <input type="hidden" name="form-type" value="4">
                    <input type="hidden" name="course_id" value="{{course.id}}">
                    <input type="hidden" name="sub_id" value="${pk}">
                    {{form4.title.label}}
                    {{form4.title}}<br>
                    {{form4.description.label}}
                    {{form4.description}}<br>
                    {{form4.file.label}}
                    {{form4.file}}<br>
                    {{form4.start_time.label}}
                    {{form4.start_time}}<br>
                    {{form4.closed_time.label}}
                    {{form4.closed_time}}<br>
                    {{form4.is_closed.label}}
                    {{form4.is_closed}}<br>
                    <a onclick="postPrevDefault('#form-asgt-${pk}',event)" class="btn btn-primary">Submit</a>
                </form>`

            );
            if(type === 'sbcs'){
                $('#body-form').empty()
                $('#body-form').append(form3)
            }
            
            else if(type === 'asgt'){
                $('#body-form').empty()
                $('#body-form').append(form4)
                $(".date-time").flatpickr(flat_conf)

            }
            else{
                $('#body-form').empty()
            }
        }

    </script>
{% endblock script %}
</html>
