
.hide{
    display: none!important;
}

.modal-title{
    color: #000;
}

.dropdown-menu{
    background-clip: padding-box;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.dropdown-item:hover{
    background-color: #0dcaf0dc;
    color: #fff;
}